{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 67.56261732500857,
        "longitude": 30.463027954101566,
        "elevation": 250,
        "unit_system": "metric",
        "location_name": "Garage",
        "time_zone": "Europe/Moscow",
        "external_url": null,
        "internal_url": null,
        "currency": "RUB"
    }
}